<div class="page-title">
  <div class="title_left">
    <h3>Collection</h3>
  </div>
</div>
<span class="clearfix"></span>
<div class="ln_solid"></div>

<div class="row">
  <div class="col-sm-6">
    <h4>Collection Details</h4>
    <dl class="dl-horizontal" >
      <dt>Collection file:</dt>   <dd><%= @collect_image.image %></dd>
    </dl>
  </div>
</div>