<div class="page-title">
  <div class="title_left">
    <h3>Trade</h3>
  </div>
</div>
<span class="clearfix"></span>
<div class="ln_solid"></div>

<div class="row">
  <div class="col-sm-6">
    <h4>Trade Details</h4>
    <dl class="dl-horizontal" >
      <dt>Trade Name:</dt>        <dd><%= @trade.name %></dd>
      <dt>Duration:</dt>         <dd><%= @trade.trade_duration %></dd>
    </dl>
  </div>
  <% if current_user.admin? %>
    <div class="col-md-6 text-right">
      <%= link_to 'Edit', edit_trade_path(@trade) , class: "btn btn-warning btn-sm"%>
    </div>
  <% end %>
</div>
<span class="clearfix"></span>
<div class="ln_solid"></div>
